# Ignore everything
**

# Include
!/.init-scripts/**
!/AIPscan/**
!/build_config/**
!/.python-version
!/celery_config.py
!/config.py
!/pyproject.toml
!/uv.lock
!/package-lock.json
!/package.json

# Exclude
/AIPscan/Aggregator/downloads
**/dist
**/__pycache__
**/*.pyc
