repos:
- repo: builtin
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: fix-byte-order-marker
    - id: check-executables-have-shebangs
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.26
  hooks:
    - id: uv-lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.13
  hooks:
    - id: ruff-check
      args: ["--fix"]
    - id: ruff-format
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
    - id: markdownlint
      args: ["--config", ".markdownlint.jsonc"]
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
    - id: prettier
      types_or: [css, javascript]
