<!DOCTYPE html>
<html lang="en">
<head>
    <title>AIPscan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}">


    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/tasks.js') }}"></script>

    {% include "datatable.html" %}

</head>
<body>
{% include "partials/navbar.html" %}

<div class="container-fluid" style="margin: 20px 0;">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% block content %}
{% endblock %}

</div>
</body>
