
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" language="javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#aiptable').DataTable( {
                "lengthMenu": [[10, 30, 60, -1], [10, 30, 60, "All"]],
                "pageLength": 10,
                "pagingType": "full_numbers",
            } );
        } );
    </script>
