
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#aiptable').DataTable( {
              "lengthMenu": [[10, 30, 60, -1], [10, 30, 60, "All"]],
              "pageLength": 10,
              "pagingType": "full_numbers",
            } );
            $('#aiptable2').DataTable( {
                "lengthMenu": [[10, 30, 60, -1], [10, 30, 60, "All"]],
                "pageLength": 10,
                "pagingType": "full_numbers",
                "buttons": [{extend: 'print', className: "print-button"}],
                "dom": "lBfrtip",
            } );
            $('#formats1').DataTable( {
              "lengthMenu": [[10, 30, 60, -1], [10, 30, 60, "All"]],
              "paging" : false,
              "dom" : "",
              "order": [[ 1, "desc" ]]
            } );
            $('#aips-1').DataTable( {
                "lengthMenu": [[10, 30, 60, -1], [10, 30, 60, "All"]],
                "pageLength": 10,
                "pagingType": "full_numbers",
                "scrollX": true
            } );
        } );

        // https://datatables.net/forums/discussion/51949/looping-multiple-datatables-on-the-same-page
        $(document).ready( function () {
             $.each($('.datatable'), function () {
                var dt_id = $(this).attr('id');
                var dt_action = $(this).data('action');
                if (typeof dt_action !== typeof undefined && dt_action !== false) {
                    var dt_ajax = dt_action;
                    $('#' + dt_id).DataTable({
                      ajax: {
                        "url": dt_ajax,
                        "dataSrc": ""
                      },
                    "lengthMenu": [[10, 30, 60, -1], [10, 30, 60, "All"]],
                    "pageLength": 10,
                    "pagingType": "full_numbers",
                    "scrollX": true
                    })
                 } else {
                    var table = $('.datatable').DataTable({
                        retrieve: true,
                        responsive: true,
                    });
                }
            })
        });

    </script>

