{% extends "base.html" %}

{% block content %}

<div class="alert alert-info"><h3 class="h3"><a href="/storage_service/{{ storageService.id }}">{{ storageService.name }}</a></h3></div>


<table class="table table-bordered table-condensed">
<tr><td width=20%><strong>Total AIPs</strong></td><td>{{ metsFetchJob.total_aips }}</td></tr>
<tr><td width=20%><strong>Total original files</strong></td><td>{{ originalsCount }}</td></tr>
<tr><td width=20%><strong>Scan date</strong></td><td><a href="/view_aips/{{ metsFetchJob.id }}">{{ metsFetchJob.download_start }}</a></td></tr>
<tr><td width="20%">Ingest start date</td><td><a href="#"><img src="../static/calendar-icon.png" margin-right:10px></a> 2008-01-01</td></tr>
<tr><td width="20%">Ingest end date</td><td><a href="#"><img src="../static/calendar-icon.png" margin-right:10px></a> 2020-04-15</td></tr>
</table>

<h3>File formats report</h3>
<table class="table table-striped table-bordered table-condensed sortable">
  <tr>
  <td width="30%"><strong>Format</strong></td>
  <td><strong>Count</strong></td>
  </tr>
  {% if formatCounts %}
    {% for key,value in formatCounts.items() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
  {% endif %}
</table>
</div>

{% endblock %}
