{% extends "base.html" %}

{% block content %}

<div class="alert alert-info"><h3 class="h3">Storage Service</h3></div>

<table class="table table-bordered table-condensed">
  <tr><td width=20%><strong>Name</strong></td><td>{{ storageService.name }}</td></tr>
  <tr><td width=20%><strong>URL</strong></td><td>{{ storageService.url}}</td></tr>
  <tr><td width=20%><strong>User name</strong></td><td>{{ storageService.user_name}}</td></tr>
  <tr><td width=20%><strong>API key</strong></td><td>{{ storageService.api_key}}</td></tr>
  <tr><td width=20%><strong>Default service</strong></td><td>{{ storageService.default}}</td></tr>
</table>
<a href="/edit_storage_service/{{ storageService.id }}"><button type="button" class="btn btn-info">Edit</button></a>
<a href="/delete_storage_service/{{ storageService.id }}"<button type="button" class="btn btn-danger">Delete</button></a>
<a href="/new_storage_service"><button type="button" class="btn btn-success">New storage service</button></a>
<hr />

<div class="alert alert-info"><h4 class="h3">METS fetch jobs</h4></div>

<table class="table table-striped table-bordered table-condensed sortable">
  <tr>
  <td><strong>Scan date</strong></td>
  <td><strong>Download duration</strong></td>
  <td><strong>Packages in SS</strong></td>
  <td><strong>AIP METS downloaded</strong></td>
  <td><strong>METS parsing duration</strong></td>
  <td><strong>Action</strong></td>
  </tr>
  {% if metsFetchJobs %}
    {% for metsFetchJob in metsFetchJobs %}
      <tr>
        <td>{{ metsFetchJob.download_start }}</td>
        <td>{{ metsFetchJob.download_end - metsFetchJob.download_start }}</td>
        <td>{{ metsFetchJob.total_packages }}</td>
        <td>{{ metsFetchJob.total_aips }}</td>
        <td>{{ metsFetchJob.parse_end - metsFetchJob.parse_start }}</td>
        <td>
          <a href="/view_aips/{{ metsFetchJob.id }}"><button type="button" class="btn btn-info">View AIPs</button></a>
          <a href="/delete_fetch_job/{{ metsFetchJob.id }}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
</table>
<a href="/new_fetch_job/{{ storageService.id }}"<button type="button" class="btn btn-success">New fetch job</button></a>

{% endblock %}
