{% extends "report_base.html" %}

{% block content %}

  <div class="alert alert-secondary">
    <a class="noprint" onClick="window.print();return false">
    	<button type="button" class="btn btn-info" style="float:right;">Print</button>
    </a>
    <strong>Report: AIPs by File Format</strong>
    <br>
    <strong>Storage Service:</strong> {{ storage_service_name }}</strong>
    <br>
    <strong>File format:</strong> {{ file_format }}
    {% if start_date %}
      <br>
      <strong>Start date:</strong> {{ start_date.strftime('%Y-%m-%d') }}
    {% endif %}
    {% if end_date %}
      <br>
      <strong>End date:</strong> {{ end_date.strftime('%Y-%m-%d') }}
    {% endif %}
  </div>

  {% if chart_div %}
    {{ chart_div | safe }}
  {% else %}
    <p class="h4" style="margin-top:20px;">No AIPs with file format "{{ file_format }}" to display.</p>
  {% endif %}

{% endblock %}
