<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ storageService.name }}: file formats count</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

  {% include "datatable.html" %}
</head>
<body>

<div class="container-fluid" style="margin: 20px 0;">

<div class="alert alert-secondary">
<a class="noprint" onClick="window.print();return false"><button type="button" class="btn btn-info" style="float:right;">Print</button></a>
<strong>{{ storageService.name }}: file formats count</strong><br />
{{ originalsCount }} original files ingested between {{startdate}} and {{enddate}}<br />
{{ differentFormats }} different formats
</div>

<table id="formats1" class="table table-striped table-bordered">
      <thead>
      <tr>
      <th><strong>Format</strong></th>
      <th width="15%"><strong>Count</strong></th>
      <th width="15%"><strong>Size in bytes</strong></th>
      <th width="15%"><strong>Size</strong></th>
      </tr>
      </thead>
      {% if formatCount %}
        {% for key,value in formatCount.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value["count"] }}</td>
            <td>{% if value["size"] == None %} 0
              {% else %}{{ value["size"] }}
              {% endif %}</td>
            <td>{{ value["humansize"] }}</td>
          </tr>
        {% endfor %}
      {% endif %}
  </table>

</div>
</body>
</html>
