{% extends "report_base.html" %}

{% block content %}

<div class="alert alert-secondary">

  {% include "report_buttons.html" %}

  <strong>{{ storage_service_name }}: AIP Contents</strong><br />
  <strong>AIPS: {{ rows|length }}</strong><br />
</div>

<table id="aips-1" class="table table-striped table-bordered">
	<thead>
    {% if rows %}
    	<tr>
      {% for column in columns %}
      	{% if column.strip() == "UUID" %}
		<th  width="300px">{{ column }}</th>
		{% else %}
		<th width="100px" title="{{ format_lookup.get(column, column) }}"><strong>{{ column }}</strong></th>
		{% endif %}
      {% endfor %}
      </tr>
      <tbody>
      {% for row in rows %}
      	<tr>
      	{% for cell in row %}
      		<td>{{ cell }}</td>
      	{% endfor %}
      	</tr>
      {% endfor %}
    {% endif %}
    <tbody>
  <thead>
</table>

{% endblock %}
