{% extends "base.html" %}

{% block content %}

<div class="alert alert-header"><strong>Reports</strong></div>

{% if storage_services %}

    <div style="padding-left: 1em;">
        <strong>Storage service:</strong>
        <select id="ss" method="GET" action="/" class="form-control" style="width:auto;">
            {% for ss in storage_services %}
              {% if ss.id == storage_service.id %}
                <option value="{{ ss.id }}" SELECTED>{{ ss.name }}</option>
              {% else %}
                <option value="{{ ss.id }}">{{ ss.name }}</option>
              {% endif %}
            {% endfor %}
        </select>
    </div>

    <!-- Original file formats indicates data has been fetched for this Storage Service -->
    {% if original_file_formats %}

    <table class="table table-striped table-bordered" style="margin: 1.25rem;">

        <tr>
            <th>Report</th>
            <th>File format/PUID</th>
            <th><img src="{{ url_for('static', filename='assets/calendar-icon.png') }}" style="height: 1.5em; margin-right: 5px;" />Start date</th>
            <th><img src="{{ url_for('static', filename='assets/calendar-icon.png') }}" style="height: 1.5em; margin-right: 5px;" />End date</th>
            <th>Format</th>
        </tr>

        <tr>
            <td>File format count</td>
            <td></td>
            <td><input type="text" id="startdate1" value="{{ start_date }}"></td>
            <td><input type="text" id="enddate1" value="{{ end_date }}"></td>
            <td><a href=""><button type="button" id="report1a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a><a href=""><button type="button" id="report1b" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Pie Chart</button></a><a href=""><button type="button" id="report1c" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Scatter Plot</button></a></td>
        </tr>

        <tr>
            <td>AIP contents</td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"><button type="button" id="report2a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
        </tr>

        <tr>
            <td>Format version count</td>
            <td></td>
            <td><input type="text" id="fmt_version_count_start_date" value="{{ start_date }}"></td>
            <td><input type="text" id="fmt_version_count_end_date" value="{{ end_date }}"></td>
            <td><a href="#"><button type="button" id="report3a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
        </tr>

        <tr>
            <td>Preservation copy count</td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"><button type="button" id="report4a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
        </tr>

        <tr>
            <td>Largest files</td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"><button type="button" id="report9a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
        </tr>

        <tr>
            <td>
                File format
                <br>
                <span class="text-muted">AIPs containing original files in given file format.</span>
            </td>
            <td>
              <select id="originalFormatSelect" method="GET" action="/" class="form-control" style="width:auto;">
                {% for file_format in original_file_formats %}
                  <option value="{{ file_format }}">{{ file_format }}</option>
                {% endfor %}
              </select>
            </td>
            <td></td>
            <td></td>
            <td><a href="#"><button type="button" id="aipsByOriginalFormat" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
        </tr>

        <tr>
            <td>
                File format version
                <br>
                <span class="text-muted">AIPs containing original files in given file format version, specified by PUID.</span>
            </td>
            <td>
              <select id="originalPUIDSelect" method="GET" action="/" class="form-control" style="width:auto;">
                {% for puid in original_puids %}
                  <option value="{{ puid }}">{{ puid }}</option>
                {% endfor %}
              </select>
            </td>
            <td></td>
            <td></td>
            <td><a href="#"><button type="button" id="aipsByOriginalPUID" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
        </tr>

        {% if preservation_file_formats %}
            <tr>
                <td>
                    File format (preservation)
                    <br>
                    <span class="text-muted">AIPs containing normalized preservation derivatives in given file format.</span>
                </td>
                <td>
                  <select id="preservationFormatSelect" method="GET" action="/" class="form-control" style="width:auto;">
                    {% for file_format in preservation_file_formats %}
                      <option value="{{ file_format }}">{{ file_format }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td></td>
                <td></td>
                <td><a href="#"><button type="button" id="aipsByPreservationFormat" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
            </tr>
        {% endif %}

        {% if preservation_puids %}
            <tr>
                <td>
                    File format version (preservation)
                    <br>
                    <span class="text-muted">AIPs containing normalized preservation derivatives in given file format version, specified by PUID.</span>
                </td>
                <td>
                  <select id="preservationPUIDSelect" method="GET" action="/" class="form-control" style="width:auto;">
                    {% for puid in preservation_puids %}
                      <option value="{{ puid }}">{{ puid }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td></td>
                <td></td>
                <td><a href="#"><button type="button" id="aipsByPreservationPUID" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
            </tr>
        {% endif %}

        <tr>
            <td>Transfers log </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#"><button type="button" id="transferLogTabular" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular Chart</button></a>
                <a href="#"><button type="button" id="transferLogGantt" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Gantt Chart</button></a>
            </td>
        </tr>

    </table>

    {% else %}

    <div style="padding:1em;">
        No data available. Run a Fetch Job to populate AIPscan with data from this Storage Service or select a different Storage Service.
    </div>

    {% endif %}

{% else %}

    <div style="padding:1em;">
        Storage Service information is not yet available for reporting. <a href="{{ url_for('aggregator.storage_services') }}">Configure a Storage Service</a> and run a Fetch Job to get started.</a>
    </div>

{% endif %}


<!-- TODO: Let's get this into a separate JS and import it... -->
<script>
    $(document).ready(function() {
        // Refresh page with storage_service_id parameter when user selects a
        // Storage Service from the dropdown list. This enables us to provide
        // lists of the file formats and PUIDs in a given Storage Service to
        // the reports template for use in dropdown selectors.
        $("#ss").on("change", function() {
          var storageServiceId = $('#ss').val();
          var url = window.location.origin +
            '/reporter/reports?' +
            'amss_id=' +
            storageServiceId;
          window.location.href = url;
        });

        const DATE_ALERT_START = 'The start date must be before the end date';
        const DATE_ALERT_END = 'The end date must be after the start date';

        $("#startdate1").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function(date) {
                var enddate = $('#enddate1').val();
                if (enddate != "") {
                    if (enddate < date) {
                        alert(DATE_ALERT_START);
                    }
                }
            }
        });
        $("#enddate1").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function(date) {
                var startdate = $('#startdate1').val();
                if (startdate != "") {
                    if (startdate > date) {
                        alert(DATE_ALERT_END);
                    }
                }
            }
        });
        $("#fmt_version_count_start_date").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function(date) {
                var enddate = $('#fmt_version_count_end_date').val();
                if (enddate != "") {
                    if (enddate < date) {
                        alert(DATE_ALERT_START);
                    }
                }
            }
        });
        $("#fmt_version_count_end_date").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function(date) {
                var startdate = $('#fmt_version_count_start_date').val();
                if (startdate != "") {
                    if (startdate > date) {
                        alert(DATE_ALERT_END);
                    }
                }
            }
        });
        $("#report1a").on("click", function() {
            var startdate = $('#startdate1').val();
            var enddate = $('#enddate1').val();
            if (enddate < startdate) {
                alert(DATE_ALERT_START);
            } else {
                var storageServiceId = $('#ss').val();
                var url = window.location.origin +
                    '/reporter/report_formats_count?start_date=' +
                    startdate +
                    '&end_date=' +
                    enddate +
                    '&amss_id=' +
                    storageServiceId
                window.open(url);
            }
        });
        $("#report1b").on("click", function() {
            var startdate = $('#startdate1').val();
            var enddate = $('#enddate1').val();
            if (enddate < startdate) {
                alert(DATE_ALERT_START);
            } else {
                var storageServiceId = $('#ss').val();
                var url = window.location.origin +
                    '/reporter/chart_formats_count?start_date=' +
                    startdate +
                    '&end_date=' +
                    enddate +
                    '&amss_id=' +
                    storageServiceId
                window.open(url);
            }
        });
        $("#report1c").on("click", function() {
            var startdate = $('#startdate1').val();
            var enddate = $('#enddate1').val();
            if (enddate < startdate) {
                alert(DATE_ALERT_START);
            } else {
                var storageServiceId = $('#ss').val();
                var url = window.location.origin +
                    '/reporter/plot_formats_count?start_date=' +
                    startdate +
                    '&end_date=' +
                    enddate +
                    '&amss_id=' +
                    storageServiceId
                window.open(url);
            }
        });
        $("#report2a").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/aip_contents/"
            var storageServiceID = $('#ss').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID
            );
            window.open(url);
        });
        $("#report3a").on("click", function() {
            var startdate = $('#fmt_version_count_start_date').val();
            var enddate = $('#fmt_version_count_end_date').val();
            if (enddate < startdate) {
                alert(DATE_ALERT_START);
            } else {
                const URL_FORMAT_VERSION_COUNT = "/reporter/report_format_versions_count/";
                var storageServiceID = $('#ss').val();
                var url = (
                  window.location.origin +
                  URL_FORMAT_VERSION_COUNT +
                  '?amss_id=' +
                  storageServiceID +
                  '&start_date=' +
                  startdate +
                  '&end_date=' +
                  enddate
                );
                window.open(url);
            }
        });
        $("#report4a").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/original_derivatives/";
            var storageServiceID = $('#ss').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID
            );
            window.open(url);
        });
        $("#report9a").on("click", function() {
            const URL_LARGEST_FILES = "/reporter/largest_files/";
            var storageServiceID = $('#ss').val();
            var url = (
              window.location.origin +
              URL_LARGEST_FILES +
              '?amss_id=' +
              storageServiceID
            );
            window.open(url);
        });
        $("#aipsByOriginalFormat").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/aips_by_file_format/";
            var storageServiceID = $('#ss').val();
            var fileFormat = $('#originalFormatSelect').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID +
              '&file_format=' +
              fileFormat +
              '&original_files=True'
            );
            window.open(url);
        });
        $("#aipsByPreservationFormat").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/aips_by_file_format/";
            var storageServiceID = $('#ss').val();
            var fileFormat = $('#preservationFormatSelect').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID +
              '&file_format=' +
              fileFormat +
              '&original_files=False'
            );
            window.open(url);
        });
        $("#aipsByOriginalPUID").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/aips_by_puid/";
            var storageServiceID = $('#ss').val();
            var puid = $('#originalPUIDSelect').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID +
              '&puid=' +
              puid +
              '&original_files=True'
            );
            window.open(url);
        });
        $("#aipsByPreservationPUID").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/aips_by_puid/";
            var storageServiceID = $('#ss').val();
            var puid = $('#preservationPUIDSelect').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID +
              '&puid=' +
              puid +
              '&original_files=False'
            );
            window.open(url);
        });
       $("#transferLogTabular").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/ingest_log_tabular/";
            var storageServiceID = $('#ss').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID
            );
            window.open(url);
        });
        $("#transferLogGantt").on("click", function() {
            const URL_AIP_CONTENTS = "/reporter/ingest_log_gantt/";
            var storageServiceID = $('#ss').val();
            var url = (
              window.location.origin +
              URL_AIP_CONTENTS +
              '?amss_id=' +
              storageServiceID
            );
            window.open(url);
        });
    });
</script>

{% endblock %}
