{% extends "base.html" %}

{% block content %}

<div class="alert alert-header"><strong>Reports</strong></div>

{% if storage_services %}

  <!-- First row: Storage Service and Start date -->
  <div class="report-opts">
    <div>
      <span class="fixed-width-menu-span-left">
        <i class="fa fa-database" aria-hidden="true"></i>
        Storage Service
      </span>
      <select id="ss" method="GET" action="/">
          {% for ss in storage_services %}
            {% if ss.id == storage_service.id %}
              <option value="{{ ss.id }}" SELECTED>{{ ss.name }}</option>
            {% else %}
              <option value="{{ ss.id }}">{{ ss.name }}</option>
            {% endif %}
          {% endfor %}
      </select>
    </div>
    <div>
      <span class="fixed-width-menu-span-right">
        <i class="fa fa-calendar-alt" aria-hidden="true"></i>
            Start date
      </span>
      <input type="text" id="startdate" value="{{ start_date }}">
    </div>
  </div>
  <!-- Second row: Location and End date -->
  <div class="report-opts">
    <div>
      <span class="fixed-width-menu-span-left">
        <i class="fa fa-archive" aria-hidden="true"></i>
        Storage Location
      </span>
      <select id="sl" method="GET" action="/">
          <option value="">All locations</option>
          {% for sl in storage_locations %}
            {% if sl.id == storage_location.id %}
              <option value="{{ sl.id }}" SELECTED>{{ sl.description }}</option>
            {% else %}
              <option value="{{ sl.id }}">{{ sl.description }}</option>
            {% endif %}
          {% endfor %}
      </select>
    </div>
    <div>
      <span class="fixed-width-menu-span-right">
        <i class="fa fa-calendar-alt" aria-hidden="true"></i>
            End date
      </span>
      <input type="text" id="enddate" value="{{ end_date }}">
    </div>
  </div>

  <!-- Original file formats indicates data has been fetched for this Storage Service -->
  {% if original_file_formats %}

  <table class="table table-striped table-bordered" style="margin-top: 1.25rem;">

      <tr class="table-header">
          <th>Report</th>
          <th>Description</th>
          <th>Format</th>
      </tr>

      <tr>
          <td>
              <strong>Storage locations</strong>
          </td>
          <td><span class="text-muted"><span class="text-muted">List all locations in this Storage Service, including total AIPs and storage volume.
            <br>Filter by date range.</span></span></td>
          <td>
              <a href="#"><button type="button" id="storageLocations" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a>
          </td>
      </tr>

      <tr>
          <td><strong>Largest files</strong></td>
          <td><span class="text-muted">Top twenty largest files in the Storage Service.
            <br>Filter by storage location.
            <br>Filter by originals or preservation copies (in report).</span></td>
          <td><a href="#"><button type="button" id="report9a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
      </tr>

      <tr>
          <td><strong>File format count</strong></td>
          <td><span class="text-muted">Number of files per format and the volume of storage each uses.
            <br>Filter by date range and storage location.</span></td>
          <td><a href=""><button type="button" id="report1a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a><a href=""><button type="button" id="report1b" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Pie Chart</button></a><a href=""><button type="button" id="report1c" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Scatter Plot</button></a></td>
      </tr>

      <tr>
          <td><strong>Format version count</strong></td>
          <td><span class="text-muted"><span class="text-muted">Number of files per format version (PUID) and the volume of storage each uses.
            <br>Filter by date range and storage location.</span></td>
          <td><a href="#"><button type="button" id="report3a" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
      </tr>

      <tr>
          <td><strong>AIP contents</strong>
        </td>
          <td><span class="text-muted">Types of file formats in AIPs, including file count per format. 
            <br>Filter by date range and storage location.</span></td>
        <td><a href="#"><button type="button" id="aipContents" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
      </tr>

      <tr>
          <td>
              <strong>AIPs by original format</strong>
              <br>
              <select id="originalFormatSelect" method="GET" action="/" class="form-control" style="width:90%;">
              {% for file_format in original_file_formats %}
                <option value="{{ file_format }}">{{ file_format }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
             <span class="text-muted">AIPs containing original files in the selected format.
              <br>Filter by storage location.</span>
          </td>
          <td><a href="#"><button type="button" id="aipsByOriginalFormat" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
      </tr>

      {% if preservation_file_formats %}
          <tr>
              <td>
                  <strong>AIPs by preservation format</strong>
                  <br>
                   <select id="preservationFormatSelect" method="GET" action="/" class="form-control" style="width:90%;">
                  {% for file_format in preservation_file_formats %}
                    <option value="{{ file_format }}">{{ file_format }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                    <span class="text-muted">AIPs containing preservation copies in the selected format.
                    <br>Filter by storage location.</span>
              </td>
              <td><a href="#"><button type="button" id="aipsByPreservationFormat" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
          </tr>
      {% endif %}

      <tr>
          <td>
              <strong>AIPs by PUID</strong>
              <br>
              <select id="originalPUIDSelect" method="GET" action="/" class="form-control" style="width:90%;">
              {% for puid in original_puids %}
                <option value="{{ puid }}">{{ puid }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <span class="text-muted">AIPs containing original files matching the selected PRONOM Unique Identifier (file format versions)
              <br>Filter by storage location.</span>
          </td>
          <td><a href="#"><button type="button" id="aipsByOriginalPUID" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
      </tr>

      {% if preservation_puids %}
          <tr>
              <td>
                  <strong>AIPs by preservation copy PUID</strong>
                  <br>
                  <select id="preservationPUIDSelect" method="GET" action="/" class="form-control" style="width:90%;">
                  {% for puid in preservation_puids %}
                    <option value="{{ puid }}">{{ puid }}</option>
                  {% endfor %}
                </select>
              </td>

          <td>
            <span class="text-muted">AIPs containing preservation copies matching the selected PRONOM Unique Identifier (file format versions).
              <br>Filter by storage location.</span>
          </td>

          <td><a href="#"><button type="button" id="aipsByPreservationPUID" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
          </tr>
      {% endif %}

      <tr>
          <td><strong>Preservation derivatives</strong></td>
          <td><span class="text-muted"><span class="text-muted">Map original files to their preservation copy counterpart.
            <br>Filter by storage location.
            <br>Filter by AIP (in report).</td>
          <td><a href="#"><button type="button" id="preservationDerivatives" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a></td>
      </tr>

      <tr>
          <td><strong>User ingest log</strong></td>
          <td><span class="text-muted">List all Archivematica ingest events, per user.
            <br>Filter by storage location.</span></td>
          <td>
              <a href="#"><button type="button" id="transferLogTabular" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Tabular</button></a>
              <a href="#"><button type="button" id="transferLogGantt" class="btn btn-info" style="margin-left:5px; margin-bottom:5px;">Gantt Chart</button></a>
          </td>
      </tr>

  </table>

  {% else %}

  <div style="padding:1em;">
      No data available. Run a Fetch Job to populate AIPscan with data from this Storage Service or select a different Storage Service.
  </div>

  {% endif %}

{% else %}

  <div style="padding:1em;">
      Storage Service information is not yet available for reporting. <a href="{{ url_for('aggregator.storage_services') }}">Configure a Storage Service</a> and run a Fetch Job to get started.</a>
  </div>

{% endif %}

<script>
$(document).ready(function() {
  var storageServiceId = $('#ss').val();
  var storageLocationId = $('#sl').val();

  const DATE_ALERT_START = 'The start date must be before the end date';
  const DATE_ALERT_END = 'The end date must be after the start date';

  function reloadPage (ignoreLocation) {
    var storageServiceId = $('#ss').val();
    var storageLocationId = $ ('#sl').val();
    var url = (
      window.location.origin +
      '/reporter/reports?' +
      'amss_id=' +
      storageServiceId
    );
    if (ignoreLocation !== true) {
      url += '&storage_location=' + storageLocationId;
    }
    window.location.href = url;
  }

  $("#ss").on("change", function() {
    reloadPage(true);
  });

  $("#sl").on("change", function() {
    reloadPage(false);
  });  

  $("#startdate").datepicker({
      dateFormat: 'yy-mm-dd',
      onSelect: function(date) {
          let enddate = $('#enddate').val();
          if (enddate != "" && enddate < date) {
            alert(DATE_ALERT_START);
          }
          fetch(`${window.origin}/reporter/update_dates/`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ "start_date": date })
          })
      }
  });

  $("#enddate").datepicker({
      dateFormat: 'yy-mm-dd',
      onSelect: function(date) {
          let startdate = $('#startdate').val();
          if (startdate != "" && startdate > date) {
            alert(DATE_ALERT_START);
          }
          fetch(`${window.origin}/reporter/update_dates/`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ "end_date": date })
          })
      }
  });

  $("#report1a").on("click", function() {
    var startdate = $('#startdate').val();
    var enddate = $('#enddate').val();
    if (enddate < startdate) {
        alert(DATE_ALERT_START);
    } else {
        var url = (
          window.location.origin +
          '/reporter/report_formats_count?start_date=' +
          startdate +
          '&end_date=' +
          enddate +
          '&amss_id=' +
          storageServiceId +
          '&storage_location=' +
          storageLocationId
        );
        window.open(url);
    }
  });
  $("#report1b").on("click", function() {
    var startdate = $('#startdate').val();
    var enddate = $('#enddate').val();
    if (enddate < startdate) {
        alert(DATE_ALERT_START);
    } else {
        var url = (
          window.location.origin +
          '/reporter/chart_formats_count?start_date=' +
          startdate +
          '&end_date=' +
          enddate +
          '&amss_id=' +
          storageServiceId +
          '&storage_location=' +
          storageLocationId
        );
        window.open(url);
    }
  });
  $("#report1c").on("click", function() {
    var startdate = $('#startdate').val();
    var enddate = $('#enddate').val();
    if (enddate < startdate) {
        alert(DATE_ALERT_START);
    } else {
        var url = (
          window.location.origin +
          '/reporter/plot_formats_count?start_date=' +
          startdate +
          '&end_date=' +
          enddate +
          '&amss_id=' +
          storageServiceId +
          '&storage_location=' +
          storageLocationId
        );
        window.open(url);
    }
  });
  $("#aipContents").on("click", function() {
    var startdate = $('#startdate').val();
    var enddate = $('#enddate').val();
    if (enddate < startdate) {
        alert(DATE_ALERT_START);
    } else {
      var url = (
        window.location.origin +
        '/reporter/aip_contents/' +
        '?amss_id=' +
        storageServiceId +
        '&storage_location=' +
        storageLocationId +
        '&start_date=' +
        startdate +
        '&end_date=' +
        enddate
      );
      window.open(url);
    }
  });
  $("#report3a").on("click", function() {
    var startdate = $('#startdate').val();
    var enddate = $('#enddate').val();
    if (enddate < startdate) {
        alert(DATE_ALERT_START);
    } else {
        var url = (
          window.location.origin +
          '/reporter/report_format_versions_count/' +
          '?amss_id=' +
          storageServiceId +
          '&storage_location=' +
          storageLocationId +
          '&start_date=' +
          startdate +
          '&end_date=' +
          enddate
        );
        window.open(url);
    }
  });
  $("#preservationDerivatives").on("click", function() {
    var url = (
      window.location.origin +
      '/reporter/preservation_derivatives/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId
    );
    window.open(url);
  });
  $("#report9a").on("click", function() {
    var url = (
      window.location.origin +
      '/reporter/largest_files/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId
    );
    window.open(url);
  });
  $("#aipsByOriginalFormat").on("click", function() {
    var fileFormat = $('#originalFormatSelect').val();
    var url = (
      window.location.origin +
      '/reporter/aips_by_file_format/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId +
      '&file_format=' +
      fileFormat +
      '&original_files=True'
    );
    window.open(url);
  });
  $("#aipsByPreservationFormat").on("click", function() {
    var fileFormat = $('#preservationFormatSelect').val();
    var url = (
      window.location.origin +
      '/reporter/aips_by_file_format/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId +
      '&file_format=' +
      fileFormat +
      '&original_files=False'
    );
    window.open(url);
  });
  $("#aipsByOriginalPUID").on("click", function() {
    var puid = $('#originalPUIDSelect').val();
    var url = (
      window.location.origin +
      '/reporter/aips_by_puid/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId +
      '&puid=' +
      puid +
      '&original_files=True'
    );
    window.open(url);
  });
  $("#aipsByPreservationPUID").on("click", function() {
    var puid = $('#preservationPUIDSelect').val();
    var url = (
      window.location.origin +
      '/reporter/aips_by_puid/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId +
      '&puid=' +
      puid +
      '&original_files=False'
    );
    window.open(url);
  });
 $("#transferLogTabular").on("click", function() {
    var url = (
      window.location.origin +
      '/reporter/ingest_log_tabular/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId
    );
    window.open(url);
  });
  $("#transferLogGantt").on("click", function() {
    var url = (
      window.location.origin +
      '/reporter/ingest_log_gantt/' +
      '?amss_id=' +
      storageServiceId +
      '&storage_location=' +
      storageLocationId
    );
    window.open(url);
  });
  $("#storageLocations").on("click", function() {
    var startdate = $('#startdate').val();
    var enddate = $('#enddate').val();
    if (enddate < startdate) {
        alert(DATE_ALERT_START);
    } else {
      var url = (
        window.location.origin +
        '/reporter/storage_locations/' +
        '?amss_id=' +
        storageServiceId +
        '&start_date=' +
        startdate +
        '&end_date=' +
        enddate
      );
      window.open(url);
    }
  });
});
</script>

{% endblock %}
