<!DOCTYPE html>
<html lang="en">
<head>
  <title>Storage Service: {{ storage_service_name }}: Preservation derivatives report</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

  {% include "datatable.html" %}
</head>
<body>

<div class="container-fluid" style="margin: 20px 0;">

<div class="alert alert-secondary">
<a class="noprint" onClick="window.print();return false">
	<button type="button" class="btn btn-info" style="float:right;">Print</button>
</a>
<strong>{{ storage_service_name }}: Preservation derivatives report</strong><br />
<strong>AIPs with preservation derivatives: {{ aip_count }}</strong><br />
</div>

<h1 class="h2" style="margin-bottom: 20px;">Preservation derivatives report</h1>

{% if aips %}
  {% for aip in aips %}
    <div>
    <h2 class="h4">AIP: {{ aip["TransferName"] }} <small class="text-muted">({{ aip["UUID"] }})</small></h2>
    <p><strong>Derivatives:</strong> {{ aip["DerivativeCount"] }}</p>
    <table id="aip-{{loop.index}}" class="table table-striped table-bordered datatable">
      <thead>
      {% for column in headers %}
        <th  width="300px">{{ column }}</th>
      {% endfor %}
      <thead>
      <tbody>
      {% for row in aip["table_data"] %}
        <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br/>
  {% endfor %}
{% else %}
  <b>No AIPs in Storage Service contain preservation derivatives.</b>
{% endif %}

</div>
</body>
</html>
