{% extends "base.html" %}

{% block content %}

<div class="alert alert-info"><strong>AIP: <a href="{{ url_for('reporter.view_aips', id=storageService.id ) }}">{{ aip.transfer_name }}  {{ aip.uuid }}</a></strong>
<br />Creation date: {{ aip.create_date }}
<br />Originals: ((TODO: originals count))
</div>

<table id="aiptable" class="table table-striped table-bordered">
  <thead>
  <tr>
  <th><strong>Name</strong></th>
  <th><strong>UUID</strong></th>
  <th><strong>Size</strong></th>
  <th><strong>PUID</strong></th>
  <th><strong>Format</strong></th>
  <th><strong>Preservation copy</strong></th>
  <th><strong>Action</strong></th>
  </tr>
  </thead>
  {% if originals %}
    {% for original in originals %}
      <tr>
        <td>{{ original.name }}</td>
        <td>{{ original.uuid }}</td>
        <td>{{ original.size }} bytes</td>
        <td>{{ original.puid }}</td>
        <td>{{ original.format }} {% if original.format_version != None %} {{original.format_version}}{% endif %}</td>
        <td>{{ original.related_uuid }}</td>
        <td><a href="{{ url_for('reporter.view_file', id = original.id) }}"><button type="button" class="btn btn-info">View events</button></a></td>
      </tr>
    {% endfor %}
  {% endif %}
</table>

{% endblock %}
