{% extends "base.html" %}

{% block content %}

<div class="alert alert-secondary"><strong>AIP: {{ aip.transfer_name }}  {{ aip.uuid }}</strong>
<br />Storage service: <a href="{{ url_for('aggregator.storage_service', id=storageService.id ) }}">{{ storageService.name }}</a> (<a href="{{ url_for('reporter.view_aips', id=storageService.id ) }}">{{ totalAIPs }} AIPs</a>)
<br />Creation date: {{ aip.create_date }}
<br />Originals: {{ aip.originals_count }}
<br />Preservation copies: {{ aip.copies_count }}
</div>

<h3>Original files</h3>

<table id="aiptable" class="table table-striped table-bordered">
  <thead>
  <tr>
  <th><strong>Name</strong></th>
  <th><strong>UUID</strong></th>
  <th><strong>Size in bytes</strong></th>
  <th><strong>PUID</strong></th>
  <th><strong>Format</strong></th>
  <th><strong>View</strong></th>
  </tr>
  </thead>
  {% if originals %}
    {% for original in originals %}
      <tr>
        <td>{{ original.name }}</td>
        <td>{{ original.uuid }}</td>
        <td>{{ original.size }}</td>
        <td>{{ original.puid }}</td>
        <td>{{ original.format }} {% if original.format_version != None %} {{original.format_version}}{% endif %}</td>
        <td><a href="{{ url_for('reporter.view_original', id=original.id ) }}"><button type="button" class="btn btn-info" style="margin-bottom: 5px;">Events</button></a>
        {% if original.related_uuid != None %}<a href="{{ url_for('reporter.view_copy', uuid=original.related_uuid ) }}"><button type="button" class="btn btn-info" style="margin-bottom: 5px;">Preservation copy</button></a>{% endif %}
      </td>
      </tr>
    {% endfor %}
  {% endif %}
</table>

{% endblock %}
