{% extends "base.html" %}

{% block content %}

<div class="alert alert-info"><strong>Original file: {{ original.name }}</strong>
<br />AIP: <a href="{{ url_for('reporter.view_aip', id=aip.id ) }}"">{{ aip.transfer_name }}  {{ aip.uuid }}</a>
</div>

<table class="table table-bordered table-condensed">
  <tr><td width=20%><strong>UUID</strong></td><td>{{ original.uuid }}</td></tr>
  <tr><td width=20%><strong>Size</strong></td><td>{{ original.size }} bytes</td></tr>
  <tr><td width=20%><strong>PUID</strong></td><td>{{ original.puid }}</td></tr>
  <tr><td width=20%><strong>Format</strong></td><td>{{ original.format }} {% if original.format_version != None %} {{original.format_version}}{% endif %}</td></tr>
  <tr><td width=20%><strong>Checksum type</strong></td><td>{{ original.checksum_type }}</td></tr>
  <tr><td width=20%><strong>Checksum value</strong></td><td>{{ original.checksum_value }}</td></tr>
  <tr><td width=20%><strong>Preservation copy</strong></td><td><a href="{{ url_for('reporter.view_copy', uuid=copy.uuid ) }}"">{{ copy.name }}</td></tr>
</table>

<h3>PREMIS Events</h3>

<table id="aiptable" class="table table-striped table-bordered">
  <thead>
  <tr>
  <th><strong></strong></th>
  <th><strong></strong></th>
  <th><strong></strong></th>
  <th><strong></strong></th>
  <th><strong></strong></th>
  <th><strong></strong></th>
  </tr>
  </thead>
  {% if events %}
    {% for event in events %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
    {% endfor %}
  {% endif %}
</table>

{% endblock %}
