<!DOCTYPE html>
<html lang="en">
<head>
    <title>AIPscope</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/sorttable.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">AIPscope</a>
    <div class="navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Fetch METS files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Archivematica Storage Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View AIPs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View Reports</a>
        </li>
      </ul>
    </div>
  <span style="font-style: italic" class="navbar-text">View repository-wide info about Archivematica AIPs</span>
</nav>
<div class="container-fluid" style="margin-top: 20px;">
{% block content %}{% endblock %}
</div>
</body>
