{% extends "base.html" %}

{% block content %}

<div class="alert alert-header"><strong>Storage Services</strong></div>

<table id="infotable" class="table table-striped table-bordered">
  <thead>
  <tr>
  <th><strong>Name</strong></th>
  <th><strong>URL</strong></th>
  </tr>
  </thead>
  {% if storageServices %}
    {% for storageService in storageServices %}
      <tr>
        <td><a href="storage_service/{{ storageService.id }}">{{ storageService.name }}</a></td>
        <td>{{ storageService.url }}</td>
      </tr>
    {% endfor %}
  {% endif %}
</table>
<a href="new_storage_service"><button type="button" class="btn btn-success" style="margin-top: 20px;">New storage service</button></a>
{% endblock %}
