name: Validate GitHub Action pinning

on:
  pull_request:
    paths:
      - ".github/workflows/**"
  push:
    branches:
      - "qa/**"
      - "stable/**"
    paths:
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  enforce-pinning:
    name: Enforce commit SHA pinning
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Ensure SHA-pinned Actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@6124774845927d14c601359ab8138699fa5b70c3 # v4.0.1
