name: Validate GitHub Action pinning

on:
  pull_request:
    paths:
      - ".github/workflows/**"
  push:
    branches:
      - "qa/**"
      - "stable/**"
    paths:
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  enforce-pinning:
    name: Enforce commit SHA pinning
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Ensure SHA-pinned Actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@9e9574ef04ea69da568d6249bd69539ccc704e74 # v4.0.0
